<div class="paper-card">
    <div class="location">{% if paper.location %}{{ paper.location }} {% endif %}{{ paper.year }}</div>
    <div class="body">
        <a class="title" href={{ paper.link }}>{{ paper.title }}</a>
        <div class="authors">{% for author in paper.authors %}
            <div class="author">{{ author }}</div>
        {% endfor %}</div>
        <div class="notes">{% for note in paper.notes %}
            <div class="note">{{ note }}</div>
        {% endfor %}</div>
    </div>
</div>