<div class="navigation">
    <div class="name">{{ about.name }}</div>
    <div class="email">{{ about.email }}</div>
    <div class="role">{{ about.role }}</div>
    <div class="affiliation">{{ about.affiliation }}</div>
    <nav class="nav-items">{%- for entry in navigation %}
        <a class="nav-item" href={{ entry.url }}>{{ entry.name }}</a>
    {% endfor %}</nav>
</div>
